@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: "Inter";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding:0;
    width: 1280px;
    height: 1883px;
}

.content__logo {
    width: 254px;
    height: 70px;
    margin-top: 34px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 194px;
    position: absolute;
}

.hero__heading {
    font-size: 96px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.break {
    display: block;
    text-align: center;
}

.hero__subheading {
    font-size: 30px;
    width: 720px;
    height: 72px;
    text-align: center;
}

.hero__image {}

.description {
    position: absolute;
    margin-top: 1269px; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 148px;
    width: 830px;
    height: 482px;
}

.description__heading {
    font-family: "Inter";
}

.description__quote {}

.description__quote-author {}

.description__paragraph {
}

.content__copyright {
    position: absolute;
    margin-top: 1843px;
}

* {
    border: 1px solid red;
}
