@font-face {
    font-family: "Inter";
    src: url('./vendor/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('./vendor/fonts/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 1280px;
    height: 1883px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content__logo {
    width: 19.84%;
    height: auto;
    margin-top: 34px;
    margin-bottom: 0;
}

.hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 76.87%;
    max-width: 984px;
    height: 983px;
    margin-top: 194px;
    align-items: center;
}

.hero__heading {
    width: 73%;
    font-size: 96px;
    line-height: 1.04;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.break {
    display: block;
    text-align: center;
}

.hero__subheading {
    margin: 32px 0 0;
    width: 73.17%;
    max-width: 720px;
    height: 72px;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
}

.hero__image {
    margin: 64px 0 0;
    padding: 0;
}

.description {
    position: absolute;
    width: 64.84%;
    max-width: 830px;
    height: 482px;
    margin: 1269px 148px 0 0; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
}

.description__heading {
    width: 100%;
    max-width: 830px;
    height: 116px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 54px;
    line-height: 1.074;
    padding: 0;
    margin: 0;
}

.description__quote {
    width: 88.91%;
    max-width: 738px;
    height: 68px;
    margin: 40px 0 0;
    font-size: 24px;
    line-height: 1.416;
}

.description__quote-author {
    width: 88.19%;
    max-width: 732px;
    height: 34px;
    text-align: right;
    font-size: 24px;
    line-height: 1.416;
    margin: 10px 0 0;
    padding: 0;
}

.description__paragraph {
    width: 86.98%;
    max-width: 722px;
    height: 182px;
    margin: 32px 0 0;
    font-size: 16px;
    line-height: 1.63;
}

.content__copyright {
    position: absolute;
    margin: 1843px;
    width: 122.96%;
    max-width: 166px;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
}

* {
    border: 1px solid red;
}

@media screen and (ax-width: 1024px) {
    .content {
        max-width: 768px;
        height: auto;
        padding: 0 20px; 
    }

    .hero {
        width: 100%;
        max-width: none;
        margin-top: 186px;
        align-items: flex-start; 
    }

    .hero__heading {
        width: 100%;
        font-size: 72px; 
        text-align: left;
    }

    .hero__subheading {
        width: 100%;
        text-align: left;
        margin-top: 16px;
    }

    .hero__image {
        position: relative;
        width: 100%;
        margin-top: 32px;
        object-fit: cover;

    }
    .description {
        position: relative; /* Remove absolute positioning */
        width: 100%;
        max-width: 830px;
        margin: 64px 24px 0 24px; /* Center horizontally */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center child elements */
    }
        

}


@media screen and (max-width: 780px) {
    .hero-image {

    }
}

@media screen and (max-width:  544px) {
    
}


