.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  margin: 92px 0 24px;
  width: 122.96%;
  max-width: 166px;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 12px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin-top: 64px;
    font-size: 14px;
  }
}
