.hero {
  display: flex;
  flex-direction: column;
  width: 76.87%;
  max-width: 984px;
  height: auto;
  margin-top: 90px;
  align-items: center;
}

.hero__heading {
  width: 73%;
  font-size: 96px;
  font-family: Inter-Black;
  line-height: 1.04;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.break {
  display: block;
  text-align: center;
}

.hero__subheading {
  margin: 32px 0 0;
  width: 73.17%;
  max-width: 720px;
  height: auto;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

.hero__image {
  margin: 64px 0 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1210px) {
  .hero__heading {
    font-size: 76px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    height: auto;
    margin-top: 90px;
    width: 93.75%;
  }

  .hero__heading {
    font-size: 60px;
    height: auto;
    width: 69.01%;
  }

  .hero__subheading {
    margin: 25px 0 0;
    font-size: 27px;
    height: auto;
    width: 100%;
  }

  .hero__image {
    margin: 30px 0 0;
    padding: 0;
    width: 106.67%;
    height: auto;
  }
}

@media screen and (max-width: 680px) {
  .hero__heading {
    font-size: 48px;
  }
}

@media screen and (max-width: 544px) {
  .hero {
    height: auto;
    margin-top: 50px;
    width: 90%;
  }

  .hero__heading {
    font-size: 38px;
    height: auto;
    width: 100%;
  }

  .hero__subheading {
    margin-top: 16px;
    font-size: 15px;
    height: auto;
  }

  .hero__image {
    margin-top: 40px;
    width: 111.11%;
  }
}
