.places {
  display: grid;
  width: 78.87%;
  height: auto;
  margin-top: 0.937vw;
}

.places__container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: auto;
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}

.places__heading {
  font-family: Inter-Black;
  font-size: 72px;
  line-height: 1.0555;
  margin: 0;
  padding: 0;
}

.places__image-wrapper {
  width: 460px;
  height: 460px;
  grid-column: 1;
  grid-row: 2;
  box-shadow: 10px 10px 25px 0px #00000080;
  position: relative;
}

.places__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.places__image-wrapper:hover::after {
  background: rgba(0, 0, 0, 0.5);
}
.places__image-main {
  width: 100%;
  height: 100%;
  display: block;
}

.places__button {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  padding: 13px 21px 13px 20px;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  box-shadow: 10px 10px 25px 0px #00000080;
  width: 68.47%;
}

.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__artists-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
}

.places__artists-subheading {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 12px;
  color: #aaaaaa;
}

.places__artists-names {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.places__paragraphs-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: baseline;
  row-gap: 25px;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .places {
    width: 93.75%;
    height: auto;
    margin-top: 88px;
    padding: 0;
    row-gap: 72px;
  }

  .places__container {
    width: 100%;
    height: auto;
    margin-top: 0;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto;
    gap: 46px 28px;
  }

  .places__image-wrapper {
    width: 100%;
    height: 340px;
  }

  .places__heading {
    font-size: 42px;
  }

  .places__button {
    grid-row: 2;
    margin: 388px 13px 0 0;
    padding: 13px 20px;
    box-sizing: border-box;
    width: 355px;
  }

  .places__artists-subheading {
    font-size: 11px;
  }

  .places__artists-names {
    font-size: 17px;
  }

  .places__paragraphs-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: baseline;
    row-gap: 25px;
    font-size: 15px;
    line-height: 1.63;
  }

  .places__paragraph {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 100%;
    height: auto;
    margin-top: 62px;
    row-gap: 50px;
  }

  .places__container {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    justify-items: center;
  }

  .places__image-wrapper {
    width: 100%;
    height: 320px;
    grid-row: 3;
  }

  .places__heading {
    width: 288px;
    font-size: 32px;
    justify-self: baseline;
    margin-left: 16px;
  }

  .places__artists-container {
    margin: 0 16px;
    justify-self: baseline;
  }

  .places__paragraphs-container {
    width: 90%;
    font-size: 15px;
    line-height: 1.63;
  }

  .places__button {
    grid-row: 5;
    margin: 0 16px;
    padding: 15px 22px 16px 21px;
    width: 288px;
    font-size: 13px;
  }
}
