.places {
  display: grid;
  width: 78.87%;
  height: auto;
  margin-top: 0.937vw;
}

.places__container {
  display: grid;
  grid-template-columns: 46.74% 49.18%;
  grid-template-rows: 27.4% 55.28% 5.7%;
  width: 100%;
  height: auto;
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}

.places__heading {
  font-family: Inter-Black;
  font-size: 72px;
  line-height: 1.0555;
  margin: 0;
  padding: 0;
}

.places__image-main {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}

.places__button {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  padding: 13px 21px 13px 20px;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
}

.places__artists-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
}

.places__artists-subheading {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 12px;
  color: #aaaaaa;
}

.places__artists-names {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.places__paragraphs-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: baseline;
  row-gap: 25px;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 0;
}

* {
  border: 1px solid red;
}
