.places {
  display: grid;
  width: 78.87%;
  height: auto;
  margin-top: 92px;
}

.places__container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 0.8fr 1 0.3fr;
  width: 100%;
  height: auto;
  column-gap: 40px;
  row-gap: 48px;
}

.places__heading {
  font-family: Inter-Black;
  font-size: 72px;
  margin: 0;
  padding: 0;
}

.places__image-main {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}

.places__button {
  grid-column: 1;
  grid-row: 3;
}

/* probably best to place artists in one div and paragraphs in another one
and organize items as a block */

.places__artists {
  grid-column: 2;
  grid-row: 1;
}

.places__artists-names-one {
  grid-column: 2;
  grid-row: 1;
}

.places__artists-names-two {
  grid-column: 2;
  grid-row: 1;
}

.places__paragraph-one {
  grid-column: 2;
  grid-row: 2;
}

.places__paragraph-one {
  grid-column: 2;
  grid-row: 3;
}

* {
  border: 1px solid red;
}
